<div class="dashboard">
  <div class="welcome-card">
    <div>
      <h1>Welcome Back 👋</h1>
      <p>Manage your salon efficiently</p>
    </div>
  </div>

  <div *ngIf="loading" class="loading">Loading Dashboard...</div>

  <div *ngIf="!loading" class="stats-grid">
    <!-- Row 1 -->

    <div class="stat-card revenue">
      <h4>Total Revenue</h4>
      <h2>₹ {{ stats.totalRevenue }}</h2>
    </div>

    <div class="stat-card">
      <h4>Total Clients</h4>
      <h2>{{ stats.clients }}</h2>
    </div>

    <div class="stat-card">
      <h4>Total Staff</h4>
      <h2>{{ stats.staff }}</h2>
    </div>

    <!-- Row 2 -->

    <div class="stat-card">
      <h4>Total Appointments</h4>
      <h2>{{ stats.appointments }}</h2>
    </div>

    <div class="stat-card">
      <h4>Today's Appointments</h4>
      <h2>{{ stats.todaysAppointments }}</h2>
    </div>

    <div class="stat-card pending">
      <h4>Pending Payments</h4>
      <h2>{{ stats.pendingPayments }}</h2>
    </div>
  </div>

  <div class="bottom-grid">
    <div class="card">
      <h3>Business Summary</h3>

      <ul>
        <li>Total Clients: {{ stats.clients }}</li>

        <li>Total Staff: {{ stats.staff }}</li>

        <li>Total Appointments: {{ stats.appointments }}</li>

        <li>Today's Appointments: {{ stats.todaysAppointments }}</li>
      </ul>
    </div>

    <div class="card">
      <h3>Revenue Summary</h3>

      <ul>
        <li>Total Revenue: ₹ {{ stats.totalRevenue }}</li>

        <li>Pending Payments: {{ stats.pendingPayments }}</li>

        <li>
          Completed Bills:
          {{ stats.pendingPayments === 0 ? "All Paid" : "Pending Bills Exist" }}
        </li>

        <li>Salon Status: Active</li>
      </ul>
    </div>
  </div>
</div>
