<div class="appointment-container">
  <div class="appointment-card">
    <div class="card-header">
      <h2>Book Appointment</h2>
      <p>Create a new salon booking</p>
    </div>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <!-- Client -->

      <div class="form-group">
        <label>Client</label>

        <select formControlName="client_id" (change)="onClientChange()">
          <option value="">Select Client</option>

          <option *ngFor="let client of clients" [value]="client.id">
            {{ client.name }}
          </option>
        </select>
      </div>

      <!-- Phone -->

      <div class="form-group">
        <label>Phone</label>

        <input type="text" formControlName="phone" readonly />
      </div>

      <!-- Staff -->

      <div class="form-group">
        <label>Staff</label>

        <select formControlName="staff_id" (change)="onStaffChange()">
          <option value="">Select Staff</option>

          <option *ngFor="let member of staff" [value]="member.id">
            {{ member.name }}
          </option>
        </select>
      </div>

      <!-- Service -->

      <div class="form-group">
        <label>Service</label>

        <select formControlName="service_id" (change)="onServiceChange()">
          <option value="">Select Service</option>

          <option *ngFor="let item of services" [value]="item.id">
            {{ item.name }}
          </option>
        </select>
      </div>

      <!-- Price -->

      <div class="form-group">
        <label>Price</label>

        <input type="text" formControlName="price" readonly />
      </div>

      <!-- Date -->

      <div class="form-group">
        <label>Appointment Date</label>

        <input type="date" formControlName="appointment_date" />
      </div>

      <!-- Time -->

      <div class="form-group">
        <label>Appointment Time</label>

        <input type="time" formControlName="appointment_time" />
      </div>

      <!-- Notes -->

      <div class="form-group">
        <label>Notes</label>

        <textarea rows="4" formControlName="notes"> </textarea>
      </div>

      <!-- Button -->

      <button type="submit" class="book-btn" [disabled]="loading">
        {{ loading ? "Booking..." : "Book Appointment" }}
      </button>
    </form>
  </div>
</div>
