<div class="calendar-page">
  <div class="calendar-header">
    <h2>Salon Booking Calendar</h2>

    <input type="date" [(ngModel)]="selectedDate" />
  </div>

  <table class="calendar-table">
    <thead>
      <tr>
        <th>Time</th>

        <th *ngFor="let member of staff">
          {{ member.name }}
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let slot of slots">
        <td>{{ slot }}</td>

        <td *ngFor="let member of staff">
          <ng-container
            *ngIf="getAppointment(member.id, slot) as booking; else freeSlot"
          >
            <div class="booked-slot">
              {{ booking.service }}
            </div>
          </ng-container>

          <ng-template #freeSlot>
            <button class="available-slot" (click)="bookSlot(member, slot)">
              Available
            </button>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>
