<div class="details-page">
  <div *ngIf="loading">Loading appointment...</div>

  <div *ngIf="appointment && !loading" class="details-card">
    <div class="header">
      <h2>Appointment Details</h2>

      <span
        class="status"
        [ngClass]="{
          booked: appointment.status === 'Booked',
          cancelled: appointment.status === 'Cancelled',
          rescheduled: appointment.status === 'Rescheduled',
        }"
      >
        {{ appointment.status }}
      </span>
    </div>

    <div class="info-grid">
      <div>
        <label>Client Name</label>
        <p>{{ appointment.client_name }}</p>
      </div>

      <div>
        <label>Phone</label>
        <p>{{ appointment.phone }}</p>
      </div>

      <div>
        <label>Staff</label>
        <p>{{ appointment.staff_name }}</p>
      </div>

      <div>
        <label>Service</label>
        <p>{{ appointment.service }}</p>
      </div>

      <div>
        <label>Price</label>
        <p>₹ {{ appointment.price }}</p>
      </div>

      <div>
        <label>Date</label>
        <p>{{ appointment.appointment_date }}</p>
      </div>

      <div>
        <label>Time</label>
        <p>{{ appointment.appointment_time }}</p>
      </div>

      <div>
        <label>Created At</label>
        <p>{{ appointment.created_at | date: "dd MMM yyyy" }}</p>
      </div>
    </div>

    <div class="notes">
      <label>Notes</label>
      <p>{{ appointment.notes || "No notes available" }}</p>
    </div>

    <div class="reschedule-section" *ngIf="appointment.status !== 'Cancelled'">
      <h3>Reschedule Appointment</h3>

      <div class="reschedule-form">
        <input type="date" [(ngModel)]="newDate" />

        <input type="time" [(ngModel)]="newTime" />

        <button class="reschedule-btn" (click)="rescheduleAppointment()">
          Reschedule
        </button>
      </div>
    </div>

    <div class="actions">
      <button
        class="cancel-btn"
        *ngIf="appointment.status !== 'Cancelled'"
        (click)="cancelAppointment()"
      >
        Cancel Appointment
      </button>
      <a class="edit-btn" [routerLink]="['/appointments/edit', appointment.id]">
        Edit Appointment
      </a>

      <button class="bill-btn" (click)="generateBill()">Generate Bill</button>
      <button class="share-client-btn" (click)="shareWithClient()">
        Share To Client
      </button>

      <button class="share-staff-btn" (click)="shareWithStaff()">
        Share To Staff
      </button>
    </div>
  </div>
</div>
