.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url("/assets/images/salon-login.jpg");
  background-size: cover;
  background-position: center;
}

.login-card {
  width: 450px;
  max-width: 95%;
  padding: 40px;
  border-radius: 24px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.693);
  position: relative;
  z-index: 2;
}

.register-link {
  margin-top: 20px;
  color: black !important;
  text-align: center;
    font-weight: 800;
  font-size: 18px;
  text-align: center;
}

.register-link a {
  color: #c89b3c;
  font-weight: 800;
  font-size: 18px;
  text-decoration: none;
}

.logo {
  font-size: 32px;

  font-weight: 700;

  color: #c89b3c;

  text-align: center;

  margin-bottom: 20px;
}

h1 {
  text-align: center;
  color: black !important;
  margin-bottom: 10px;
}

p {
  text-align: center;

  margin-bottom: 30px;

  color: black;
}

form {
  display: flex;

  flex-direction: column;

  gap: 15px;
}

input {
  padding: 14px;

  border: 1px solid #ddd;

  border-radius: 10px;
}

button {
  padding: 14px;

  border: none;

  border-radius: 10px;

  background: #c89b3c;

  color: white;

  cursor: pointer;

  font-size: 16px;
}
